@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.quill {
  @apply border border-strock rounded-xl text-center;
  border: 1px solid #f1f1f3;
  border-radius: 10px;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    background: none;
    @apply bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block;
  }
  .ql-container.ql-snow {
    @apply p-0 border-none;
  }
  .ql-editor {
    @apply font-primary pt-10 text-sm;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-text4;
  }
}

.gradient-banner {
  background-image: linear-gradient(
      179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      #000000 87.01%
    ),
    url(https://source.unsplash.com/random);
}

.shadow-1 {
  box-shadow: -4px 4px 8px rgba(226, 226, 226, 0.2),
    4px 4px 8px rgba(226, 226, 226, 0.2);
}

.ReactModal__Body--open {
  overflow: hidden;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Custom datepicker
body {
  .react-datepicker__input-container {
    @apply w-full px-6 py-4 text-sm font-medium border rounded-xl placeholder:text-text4 dark:placeholder:text-text2 dark:text-white bg-transparent border-strock text-text1 dark:border-dark-stroke;

    .react-datepicker__close-icon::after {
      @apply bg-primary;
    }
  }
  .react-datepicker__day--selected {
    @apply bg-primary bg-opacity-80;
    &:hover {
      @apply bg-primary;
    }
  }
}
